<div *ngIf="artist" style="background-color: #353535;">
    <section style="background-color: #353535;">
        <div class="container py-5">
        <div class="row d-flex h-100">
            <div class="col col-md-9 col-lg-7 col-xl-5">
            <div class="card w-100" style="border-radius: 15px;">
                <div class="card-body p-4">
                <div class="d-flex text-black">
                    <div class="flex-shrink-0">
                    <img [src]="artist.images[0].url"
                        class="img-fluid"
                        style="width: 180px; border-radius: 10px;">
                    </div>
                    <div class="flex-grow-1 ms-3">
                    <h5 class="mb-1">{{artist.name}}</h5>
                    <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                        style="background-color: #efefef;">
                        <div>
                        <p class="small text-muted mb-1">Types</p>
                        <p class="mb-0">{{artist.type}}</p>
                        </div>
                        <div class="px-3">
                        <p class="small text-muted mb-1">Followers</p>
                        <p class="mb-0">{{artist.followers.total}}</p>
                        </div>
                        <div>
                        <p class="small text-muted mb-1">Rating</p>
                        <p class="mb-0">{{artist.popularity}}</p>
                        </div>
                    </div>
                    <div class="d-flex pt-1" *ngIf="artist.genres.length > 0">
                        <strong>Genres: &nbsp;</strong> {{artist.genres.join(', ')}}
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
    <section>
        <div class="row cant d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <h3 style="color:#efefef" class="m-3 text-center">Top Songs:</h3>
                <div class="p-3 card" *ngFor="let song of topSongs">
                    <div class="d-flex justify-content-between align-items-center p-3 music song-item">
                        <div class="d-flex flex-row align-items-center btn ">
                            <i class="fas fa-play me-2"></i>
                            <small class="ml-2">{{ song.name }}</small>
                          </div>                          
                    </div>
                </div>  
            </div>
        </div>
    </section>
        

<!-- Albums -->
    <section class="jumbotron text-center mt-5 text-color-white">
        <div class="container">
        <h1 class="jumbotron-heading" style="color: #efefef;">Albums</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        </div>
    </section> 
    <div class="album py-5 card-hover" style="background-color: #353535;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3" *ngFor="let album of albums">
                    <div class="card album-card">
                        <a routerLink="/artist/{{artist.id}}/{{album.id}}" (click)="onAlbumClick(album.id)">
                          <img class="card-img-top album-img" [src]="album.images[0].url" alt="{{album.name}}">
                          <div class="card-body">
                            <h4 class="card-title album-title">{{album.name}}</h4>
                            <p class="card-text album-date">{{album.release_date}}</p>
                          </div>
                        </a>
                    </div>
                </div>
            </div>              
        </div>
    </div>
</div> 